body{
  /* width: 100%;
  height: 700px; */
  /* background-color: rgb(255, 255, 255); */
  display: flex;
  justify-content: center;  
}
.head{
  color: red;
}
.td{
  margin-top: 50px;
  background-color:rgb(33, 31, 31) ;
  width: 700px;
  /* height: 450px; */
  text-align: center;
  margin-bottom: 40px;
}
.hd{
  height:70px;
}
.hd input{
  border: 0;
  outline: 0;
  padding-left: 10px;
  /* border-radius: 10px; */
}
input{
  background-color: white;
  height: 30px;
  border: none;
  margin-left: 40px;
  margin-right: 20px;
}
.button{
  width: 10%;
  height: 30px;
}
.cnt{
  height: 350px;
  background-color: rgba(213, 208, 208, 0.517);
  text-align: left;
  /* padding-left: 30px; */
  padding: 10px 30px;
  
}
.li{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;
  padding-left: 10px;
  margin-right: 50px;
}
/* .li:hover{
  background-color: rgb(187, 40, 160);

} */

.li button {
  /* background-color: brown; */
  text-align: left;
  justify-content: left;
}
.btn{
  display: flex;
  flex-direction: column;
  /* background-color: rgba(213, 208, 208, 0.517);
  width: 80%;
  height: 25px; */
}
